
//
// VARIABLES
//

// Colors
$comment: #0076c4;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;

// Grays
$black: #000;
$darkerGray: #242424;
$darkGray: rgb(58, 58, 58);
$gray: #6272a4;
$lightGray: #f8f8f2;
$white: #fff;

// Font stacks
// $helvetica: Helvetica, Arial, sans-serif;
// $helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $georgia: Georgia, serif;
$iosevka: "Marcellus", 'Courier', monospace;
$manrope: "Manrope", 'Arial', sans-serif;
$fira: "Josefin Sans", 'Arial', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}